@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* body {
    background: linear-gradient(100deg, #1e1e1e, #282828, #303030, #343434);
}      */

.tranzicija:hover
{
  width: 60%;
  transition: width 3s;
}

a {
  text-decoration: none;
}

a.left {
	background-position: left bottom;
  padding-top: 5%;
}
a:hover {
	background-size: 500% 0.2em;
  offset: 10;
}

.navbar-link {
	text-decoration: none;
	background: linear-gradient(#52D17B, #52D17B) bottom / 0 .2em no-repeat;
	transition: 1.2s background-size;
}
